# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# Environment variables and secrets
.env

# Runtime-generated artifacts (working copies rewritten by Coding Agent, run logs, etc.)
runtime/
output/
